---
layout: archive
title: "Robotics Competitions"
permalink: /competitions/
author_profile: true
---
In our research group, <a href="https://www.ais.uni-bonn.de/">Autonomous Intelligent Systems Group</a>, we take part in international robotic competitions regularly.
This page contains the list of competitions we particpated.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>



{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
